<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Indiana - {% block subtitle %}main page{% end %}</title>

    <script src="/static/bower_components/jquery/dist/jquery.min.js" ></script>
    <script src="/static/bower_components/threejs/build/three.min.js"></script>
    <script src="/static/bower_components/threejs/examples/js/controls/TrackballControls.js"></script>
    <script src="/static/bower_components/threejs/examples/js/libs/dat.gui.min.js"></script>
    <script src="/static/js/visualization.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/style.css">
    
    <style>
    {% block additional_styles %}
    {% end %}
    </style>
</head>
<body id="container">

    {% block container %}
    {% end %}

</body>
</html>
