{% extends "base.html" %}

{% block subtitle %}FingerTip{% end %}

{% block container %}
    <div class="clearfix">
        <div class="col-sm-6">
            <form>
                <h1>FingerTip</h1>
                <h2>MAC</h2>
                <label for="mac" class="sr-only">MAC Address</label>
                <input type="text" id="mac" name="mac" class="form-control" placeholder="MAC Address" required="" autofocus="" value="99:AF:00:12:12:12">
                <h2>Location</h2>
                <label for="x" class="sr-only">X</label>
                <input type="text" id="x" name="x" class="form-control" placeholder="X" required="" value="1">
                <label for="y" class="sr-only">Y</label>
                <input type="text" id="y" name="y" class="form-control" placeholder="Y" required="" value="1.5">
                <label for="z" class="sr-only">Z</label>
                <input type="text" id="z" name="z" class="form-control" placeholder="Z" required="" value="-2">
                <button id="post_btn" type="button" class="btn btn-lg btn-primary btn-block" onclick="FINGERTIP.postFingertip()">Send fingertip</button>
                <button id="delete_btn"  type="button" class="btn btn-lg btn-danger btn-block" onclick="FINGERTIP.deleteFingertip()">Delete finfertip</button>
                <button id="status_btn" type="button" class="btn btn-lg btn-info btn-block" onclick="FINGERTIP.getStatus()">Get status</button>
                <button id="end_status_btn" type="button" class="btn btn-lg btn-danger btn-block" onclick="FINGERTIP.endStatus()">End status</button>
            </form>
        </div>
        <div class="col-sm-6">
            <form>
                <label for="result" class="sr-only">result</label>
                <textarea id="result" rows="20" cols="50" readonly="readonly"></textarea>
            </form>
        </div>
    </div>

    <script language="JavaScript">
        FINGERTIP.init();
    </script>

{% end %}
