db:
  host: 127.0.0.1
  port: 27017
  name: indiana_db

fingertip:
  url: http://localhost:8887

ap_data:
    endpoint: http://localhost:8887/

rabbit:
  host: 127.0.0.1
  port: 5672
  name: positions


#engine:
#  strategy_name: 1-NN
#  strategy_config:
#    chain: permutations
#    ap_data_per_ap: 2

#engine:
#  strategy_name: 1-NN
#  strategy_config:
#    chain: beta

#engine:
#  strategy_name: 1-NN
#  strategy_config:
#    chain: consecutive

engine:
  strategy_name: FullLinearRegression