db:
  host: 127.0.0.1
  port: 27017
  name: indiana_db

fingertip:
  host: http://localhost
  port: 8887
  endpoints:
    sample_stamp: /sample_stamp
    benchmark_stamp: /benchmark_stamp
    status: /status
    path: /path

web:
  host: http://localhost
  port: 8888
  endpoints:
    position: /position/([a-fA-F0-9]{2}-[a-fA-F0-9]{2}-[a-fA-F0-9]{2}-[a-fA-F0-9]{2}-[a-fA-F0-9]{2}-[a-fA-F0-9]{2})
    visualisation2d: /visualization/2d
    visualisation3d: /visualization/3d
    fingertip: /fingertip
    path: /path
    map: /map
    root: /

rabbit:
  host: 127.0.0.1
  port: 5672
  name: positions

ap_data:
  host: http://localhost
  port: 8889
  endpoint: /

#engine:
#  strategy_name: 1-NN
#  strategy_config:
#    chain: permutations
#    ap_data_per_ap: 2

#engine:
#  strategy_name: 1-NN
#  strategy_config:
#    chain: beta

engine:
  strategy_name: 1-NN
  strategy_config:
    chain: consecutive

#engine:
#  strategy_name: FullLinearRegression
#engine:
#  strategy_name: 1-NNWithLinearRegression
#  strategy_config:
#    chain: consecutive
#    cluster_n_closest: 8

map:
  name: floor_1
