body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

form {
  max-width: 330px;
}

.centered {
  padding: 15px;
  margin: 0 auto;
}

form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

form .form-control:focus {
  z-index: 2;
}

form input[id="x"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

form input[id="y"] {
  margin-bottom: -1px;
  border-radius: 0;
}

form input[id="z"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
