<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Indiana - {% block subtitle %}main page{% end %}</title>

    <script src="/static/bower_components/jquery/dist/jquery.min.js" ></script>
    <script src="/static/bower_components/threejs/build/three.min.js"></script>
    <script src="/static/bower_components/threejs/examples/js/controls/OrbitControls.js"></script>
    <script src="/static/bower_components/threejs/examples/js/controls/OrthographicTrackballControls.js"></script>
    <script src="/static/bower_components/threejs/examples/js/libs/dat.gui.min.js"></script>

    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <script src="/static/js/main.js"></script>

    <link rel="stylesheet" href="/static/styles/style.css">

    <style>
    {% block additional_styles %}
    {% end %}
    </style>
</head>
<body id="container">
    <ul class="menu">
        <li><a href="/visualization/3d">Visualization 3D</a></li>
        <li><a href="/visualization/2d">Visualization 2D</a></li>
        <li><a href="/fingerprint">Finger tip</a></li>
        <li><a href="/path">Path</a></li>
        <li><a href="/report/0">Report</a></li>
    </ul>

    {% block container %}
    {% end %}

</body>
</html>
