<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Indiana - {% block subtitle %}main page{% end %}</title>

    <script src="/static/bower_components/jquery/dist/jquery.min.js" ></script>
    <script src="/static/bower_components/threejs/build/three.min.js"></script>
    <script src="/static/bower_components/threejs/examples/js/controls/OrbitControls.js"></script>
    <script src="/static/bower_components/threejs/examples/js/controls/OrthographicTrackballControls.js"></script>
    <script src="/static/bower_components/threejs/examples/js/libs/dat.gui.min.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/visualization.js"></script>
    <script src="/static/js/fingertip.js"></script>
    <script src="/static/js/path.js"></script>

    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/style.css">

    <style>
    {% block additional_styles %}
    {% end %}
    </style>
</head>
<body id="container">

    {% block container %}
    {% end %}

</body>
</html>
